@{ 
    ViewBag.Title = "ViewDataDemo";

    var data = ViewData["Data"] as List<MVC5Course.Models.Client>;
}

<h2>ViewDataDemo : @ViewData["Text"]</h2>

<h2>ViewDataDemo : @ViewBag.Text</h2>

@foreach (var item in data)
{
    <li>@item.FirstName</li>
}